.section {
  background-image: url('/public/banner/hero1440.jpg'); /* изображение по умолчанию для десктопа */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 210px;
}

.title {
  color: white;

  font-size: 90px;
  font-weight: 700;
  line-height: 105.6px;
  padding-top: 80px;
  padding-left: 20px;
}

.btn {
  display: block;
  padding: 16px 56px;
  border-radius: 6px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  background: #92a134;
  color: #ffffff;
  border: 0;
  margin: 40px;
}

@media (max-width: 1000px) {
  .section {
    background-image: url('/public/banner/hero1000.jpg');
    padding-bottom: 120px;
  }
  .title {
    font-size: 68px;
    line-height: 74px;
    padding-top: 60px;
    padding-left: 40px;
  }
}
/* Для планшетов и устройств с шириной экрана до 768px */
@media (max-width: 768px) {
  .section {
    background-image: url('/public/banner/hero768.jpg');
    padding-bottom: 326px;
  }
  .title {
    font-size: 60px;
    line-height: 66px;
    padding-top: 60px;
    padding-left: 20px;
  }
}

/* Для мобильных устройств с шириной экрана до 480px */
@media (max-width: 480px) {
  .section {
    background-image: url('/public/banner/hero480.jpg');
    padding-bottom: 215px;
  }
  .title {
    font-size: 60px;
    line-height: 66px;
    padding-top: 50px;
    padding-left: 20px;
  }
  .btn {
    padding: 12px 52px;
    font-size: 18px;
    line-height: 23.4px;
  }
}

@media (max-width: 360px) {
  .section {
    background-image: url('/public/banner/hero360.jpg');
    padding-bottom: 251px;
  }
  .title {
    font-size: 52px;
    line-height: 52.2px;
  }
}
