.categoryCard>img {
    width: 100%;
    max-width: 316px;
    max-height: 350px;
    object-fit: cover;
    height: 21.875rem;
    border-radius: 0.75rem;
}

.categoryCard>h3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
}

/*  ** **  adaptive  ** ** */
/* для экранов менее 1000px */
@media screen and (max-width: 1000px) {
    .categoryCard>img {
        max-width: 225px;
        max-height: 250px;
    }
  }

  @media screen and (max-width: 768px) {
    .categoryCard>img {
        max-width: 354px;
        max-height: 250px;
    }
  }

  @media screen and (max-width: 480px) {
    .categoryCard>img {
        max-width: 210px;
        max-height: 260px;
    }
  }

  @media screen and (max-width: 360px) {
    .categoryCard>img {
        max-width: 320px;
        max-height: 220px;
    }
  }