.container {
 
    max-width: 1440px;
    margin: 0 auto;
   
}
/* Медиа правила которые устанавливают на брэк поинт для контейнера изменение ширины для разных дивайсов */

  @media (max-width: 1000px) {
    .container {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
  /* Для планшетов и устройств с шириной экрана до 768px */
  @media (max-width: 768px) {
    .container{
      max-width: 768px;
      margin: 0 auto;
    }
  }
  /* Для мобильных устройств с шириной экрана до 480px */
  @media (max-width: 480px) {
    .container {
      max-width: 480px;
      margin: 0 auto;
   
    }
  }