.categoriesContainer {
    width: 100%;
    max-width: 1360px;
    margin: 4vh auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

 /* ** **  adaptive  ** ** * */
 @media screen and (max-width: 1000px) {
    .categoriesContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .categoriesContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 360px) {
    .categoriesContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}