.productCard {
  background-color: var(--snow_white);
  border: 1px solid var(--divider_grey);
  border-radius: 1rem;
  position: relative;
  max-height: 522px;
  width: 100%;
  overflow: hidden;
}

.productCard:hover {
  transform: scale(1.01) translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.6s ease;
}

.productCard_image>img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: containe; 
  border-radius: 1rem;

  /* мин.высота картинок, 
    чтобы избежать разных по высоте карточек 
    при маленьком размере исходного изображения */
  /* min-height: 18.4rem; */
  border-bottom: 1px solid var(--divider_grey);
  cursor: pointer;
}

.productCard_icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1rem;
  right: 1rem;
  gap: 10px;
}

.productCard_discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--orange);
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--snow_white);
}

.productCard_text {
  padding: 1.25rem 2rem 2rem 2rem;
}

/* если заголовок слишком длинный - скрываем многоточием */
.productCard_text>h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
}

.productCard_text>h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.productCard_text_priceBlock {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 1rem;
  gap: 1rem;
}

.productCard_text_actualPrice {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--grey);
  cursor: pointer;
}

.productCard_text_regularPrice {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 500;
  text-align: left;
  text-decoration-line: line-through;
  color: var(--light_grey);
  margin-bottom: 0.25rem;
}

/*  ** **  adaptive  ** ** */

/* для экранов менее 1200px */
@media screen and (max-width: 1200px) {
  .productCard_text {
    padding: 1.25rem 2rem 2rem 1.5rem;
  }
  .productCard_text_actualPrice {
    font-size: 2rem;
  }
  .productCard_text_regularPrice {
    font-size: 1.25rem;
  }
}

/* для экранов менее 1000px */
@media screen and (max-width: 1000px) {

  .productCard_text {
    padding: 1.2rem 1.67rem 1.67rem 1.67rem;
  }
}

/* для экранов менее 480px */
@media screen and (max-width: 480px) {

  .productCard_text>h3,
  .productCard_text_regularPrice {
    font-size: 1.125rem;
    line-height: 1.46rem;
  }
  .productCard_text_actualPrice {
    font-size: 2.25rem;
    line-height: 2.47rem;
  } 
}