.CardsContainer_header {
    display: flex;
    align-items: center;
    /* color: var(--grey); theme*/
}

.CardsContainer_header>h2 {
    margin: 0 2rem 0 0;
    font-size: 4rem;
    font-weight: 700;
}

.CardsContainer_header_line {
    flex-grow: 1;
    height: 1px;
    background: var(--divider_grey);
}


/*  ** **  adaptive  ** ** */

/* для экранов менее 1000px */
@media screen and (max-width: 1000px) {
    .CardsContainer_header > h2 {
        line-height: 4.4rem;
    }
  }

  /* для экранов менее 768px */
@media screen and (max-width: 768px) {
    .CardsContainer_header > h2 {
        font-size: 3.5rem;
        line-height: 3.85rem;
    }
  }

  /* для экранов менее 580px */
  @media screen and (max-width: 580px) {
    .CardsContainer_header > h2 {
        font-size: 2.7rem;
        line-height: 3rem;
    }
  }

  /* для экранов менее 480px */
@media screen and (max-width: 480px) {
    .CardsContainer_header > h2 {
        font-size: 2.7rem;
        line-height: 3rem;
    }
  }

  /* для экранов менее 470px */
  @media screen and (max-width: 470px) {
    .CardsContainer_header_line, .CardsContainer_header_buttons{
        display: none;
    }
  }

  /* для экранов менее 360px */
@media screen and (max-width: 360px) {
    .CardsContainer_header > h2 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
  }