.CardsContainer {
  /* margin: 5rem 2.5rem; */
  width: 100%;
  max-width: 1360px;
  margin-top: 3.75vh;
  margin: 4vh auto;
  /* я не уверена в правильности оставлять отступ здесь,
  т.к. компонент повторяется во всем проекте и отступы разные */
}



.CardsContainer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2.5rem;
}