.CardsContainer {
  margin: 5rem 2.5rem;
  width: 100%;
  max-width: 1360px;
}



.CardsContainer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2.5rem;
}