.baseButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.baseButton:hover {
      background: var(--grey);
   color: var(--snow_white); 
}

.linkButton {
  padding: 16px 56px;
  line-height: 26px;
  background: var(--green)!important;
  color: var(--white)!important;
  text-decoration: none;
}

.oneDayDiscount {
  padding: 6px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background: var(--green)!important;
  color: var(--snow_white)!important;
  margin-bottom: 12px;
  text-decoration: none;
}

.getDiscountBtn{
  margin-bottom: 20px;
}

.modulWindowBtn{
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  background: var(--white);
  margin-top: 16px;
}
.shoppingCartOrder {
  padding: 16px 56px;
  background: var(--green);
  color: var(--white);
  width: 100%;
  text-decoration: none;
}

.shoppingCart_leerkorb {
  padding: 16px 56px;
  background: var(--green);
  color: var(--white);
  max-width: 313px;
  text-decoration: none;
}

/* для экранов менее 360px */
@media screen and (max-width: 360px) {
  .shoppingCart_leerkorb {
    padding: 16px 40px;
  }

}