.buttonContainer{
  display: flex;
  justify-content: center;
}
.link{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    display: block;
    text-decoration: none;
    color: var(--grey); 
}

.link:hover {
  color: #92A134; 
}

.nav {
  display: flex;
  gap: 32px; /*Это для 1440*/
}

@media (max-width: 1000px) {
  .nav {
    gap: 24px;
  }
}

@media (max-width: 830px) {
  .link {
    font-size: 18px;
  }
}

/* Для планшетов и устройств с шириной экрана до 768px */
@media (max-width: 768px) {
  .nav {
    gap: 18px;
  }
  .link {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .navMenuContainer {
    display: none;  
  }
}
