.link{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    display: block;
    text-decoration: none;
    color: #424436; 
  
}

.nav{
    display: flex;
    gap: 32px;
  

}
.btn{
    display: block;
    padding: 6px 16px;
    border-radius: 6px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
     text-align: center;
     background: #92A134;
     color: #FFFFFF;
     border: 0;
     margin:  auto;
     margin-bottom: 12px;

}