.shoppingCart_container {
  max-width: 1360px;
  margin: 0 auto;
  margin-bottom: 4vh;
}

.shoppingCart_block_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.shoppingCart_title {
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  color: var(--grey);
  margin-right: 2vw;
}
.divider {
  flex-grow: 1;
  height: 1px;
  background: var(--divider_grey);
}

.shoppingCart_wrapper {
  display: flex;
  justify-content: space-between;
}

.shoppingCart_products {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 57%;
}

.shoppingCart_orderForm {
  width: 40%;
  background-color: var(--light_green);
  padding: 2rem;
  border-radius: 0.75rem;
  max-height: 582px;
}

.shoppingCart_orderForm > h2 {
  font-size: 2.5rem;
  line-height: 2.7rem;
  font-weight: 700;
  color: var(--grey);
  margin-bottom: 22px;
}

.shoppingCart_orderForm {
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-weight: 500;
  color: var(--light_grey);
}

.orderForm_sum {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.orderForm_totalSum {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: 700;
  color: var(--grey);
}

form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
}

form > input {
  min-height: 58px;
  border-radius: 5px;
  border: 1px solid var(--divider_grey);
  width: 100%;
  padding: 16px 20px;
  color: var(--light_grey);
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 1.25rem;
}
