.heart {
  stroke: #424436;
}
.container {
  display: flex;
  gap: 24px;
}
.cart {
  width: 48px;
}
@media (max-width: 1000px) {
  .container {
    gap: 11px;
  }
}
/* Для планшетов и устройств с шириной экрана до 768px */
@media (max-width: 768px) {
  .container {
    gap: 11px;
  }
}
/* Для мобильных устройств с шириной экрана до 480px */
@media (max-width: 480px) {
  .container {
    gap: 12px;
  }
  .heart {
    width: 32px;
    height: 32px;
  }
  .cart {
    width: 32px;
    height: 32px;
  }
}
