/* Основной контейнер */
.banner {
  background: linear-gradient(
    90deg,
    rgba(135, 147, 61, 1),
    rgba(85, 97, 11, 1)
  ); /* Градиентный фон */
  max-width: 1360px;
  margin: 80px auto 108px;
  border-radius: 16px;
  padding-top: 40px;
  color: var(--snow_white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
  line-height: 1.2;
}

/* Контейнер для изображения и формы */
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Левый блок: Изображение */
.imageSection {
  flex: 1; /* Занимает равное пространство с формой */
  display: flex;
  justify-content: flex-end; /* Выравниваем изображение справа */
  align-items: flex-end; /* Прижимаем изображение к нижнему краю */
  position: relative; /* Для управления позиционированием дочерних элементов */
  overflow: hidden; /* Обрезаем изображение при необходимости */
}

/* Правый блок: Форма */
.formSection {
  flex: 0.7; 
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%; /* Фиксированная ширина формы */
  padding-bottom: 32px;
}

.input {
  padding: 1em 1em 1em 2em;
  border: 1px solid #fff;
  border-radius: 0.3em; /* Закруглённые углы */
  font-size: 1.25rem;
  background: none; /* Прозрачный фон */
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  line-height: 1.625rem; /* 26px */
}


/* Контейнер для текста ошибки и иконки */
.errorContent {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 10px;
}

/* Иконка ошибки */
.errorIcon {
  width: 20px;
  height: 20px;
}



/*  ** **  adaptive  ** ** */
/* Адаптивность для экранов до 1000px */
@media (max-width: 1000px) {
  .banner {
    margin: 60px auto;
  }
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .imageSection {
    width: 40vw;
  }
  .formSection {
    width: 45vw;
    min-width: 390px;
  }
}
/* Адаптивность для экранов до 768px */
@media (max-width: 768px) {
  .title {
    font-size: 3.5rem;
  }
  .input {
    font-size: 1.125rem; /* Уменьшение размера текста */
    padding: 0.9em 0.9em 0.9em 1.5em; /* Уменьшение левого отступа */
  }
  .input::placeholder {
    font-size: 1.125rem; /* Уменьшение размера текста в placeholder */
  }
  .formSection {
    min-width: 334px;
  }
}
/* Адаптивность для экранов до 655px */
@media (max-width: 655px) {
  .formSection {
    min-width: 280px;
  }
}
@media (max-width: 655px) {
  .formSection {
    min-width: 230px;
  }
}

/* Адаптивность для экранов до 480px */
@media (max-width: 480px) {
  .banner {
    margin: 56px auto;
  }
  .title {
    font-size: 3rem;
    padding: 0 20px;
  }
  .content {
    flex-direction: column; /* Вертикальное расположение блоков */
    gap: 20px; /* Отступ между формой и изображением */
    align-items: center;
  }
  .formSection {
    display: flex;
    justify-content: center; /* Центрируем форму по горизонтали */
    width: 83vw;
  }
  .imageSection {
    order: 2; /* Перемещаем изображение вниз */
    width: 83vw;
  }
  .handsImage {
    max-width: 100%; /* Изображение растягивается на всю ширину */
    height: 100%; /* Задаём фиксированную высоту для обрезки */
    object-fit: cover; /* Сохраняем пропорции, обрезая изображение */
    object-position: center; /* Центрируем обрезанную часть изображения */
  }
  .input {
    font-size: 1rem; /* Ещё меньше размер текста */
    padding: 0.8em 0.8em 0.8em 1em; /* Левый отступ уменьшается ещё больше */
  }
  .input::placeholder {
    font-size: 1rem; /* Уменьшение размера текста в placeholder */
  }
}

/* Адаптивность для экранов до 360px */
@media (max-width: 360px) {
  .title {
    font-size: 2.5rem;
  }
}


