.header {
    /* height: 68px; */
    height: 128px;
    background-color: #fffff1;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
   
    padding: 0 40px;
    align-items: center;
  }
  .logo{
    display: flex;
    align-items: center;
    gap: 20px;

  }