.header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  align-items: center;
}
.headerwrapper {
  border-bottom: 2px solid #dddddd;
}

.iconBurger {
  width: 44px;
  height: 44px;
  stroke: #424436;
}
.logoContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Стандартный размер логотипа */
img.logo {
  width: 100%;
  /* Логотип будет растягиваться на 100% ширины родительского элемента */
  max-width: 70px;
  /* Логотип не будет больше 200px */
  height: auto;
  /* Сохраняет пропорции изображения */
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

/*  ** **  adaptive  ** ** */
/* Для экранов шириной до 1000px */
@media (max-width: 1000px) {
  .header {
    max-width: 1000px;
    padding: 30px 20px;
  }

  img.logo {
    max-width: 68px;
    /* Уменьшаем размер */
  }
}

/* Для экранов шириной до 768px */
@media (max-width: 768px) {
  .header {
    max-width: 768px;
    padding: 30px 16px;
  }
  .logoContainer {
    gap: 16px;
  }
  img.logo {
    max-width: 60px;
    /* Еще меньше */
  }
}

/* Для мобильных устройств с шириной экрана до 480px */
@media (max-width: 480px) {
  .header {
    max-width: 480px;
    padding: 12px 20px;
  }
  img.logo {
    max-width: 44px;
    /* Минимальный размер на мобильных устройствах */
  }
}

@media (max-width: 360px) {
  img.logo {
    max-width: 44px;
    /* Минимальный размер на мобильных устройствах */
  }
  .header {
    max-width: 360px;
    padding: 12px 20px;
  }
}
