.productItem {
    border: 1px solid var(--divider_grey);
    border-radius: 12px;
    background-color: var(--snow_white);
    display: flex;
    justify-content: start;
}

.productItem_image {
    max-width: 200px;
    width: 25%;
    border: 1px solid var(--divider_grey);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.productItem_description {
    width: 75%;
    padding: 32px;
}

.productItem_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.productItem_title>p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: var(--grey);
}

.productItem_closeBtn {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--grey);
}

.productItem_container {
    display: flex;
    gap: 32px;
    margin-top: 32px;
    align-items: center;
}

.productItem_price {
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

.actual_price {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.75rem;
    color: var(--grey);
}

.old_price {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: var(--light_grey);
    text-decoration: line-through;
}


/* **** ** adaptive ** **** */

/* для экранов менее 1260px */
@media screen and (max-width: 1260px) {
    .productItem_container {
        gap: 12px;
        align-items: start;
        flex-direction: column;
    }
  }
  