.footer_wrapper {
  max-width: 1440px;
  margin: 80px 40px ;
}
.footer_title {
  font-weight: 700;
  font-size: 4rem;
  /* color: var(--grey);theme  */
  padding-bottom: 2.5rem;
}
.footer_container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_contact_phone,
.footer_contact_socials,
.footer_contact_address,
.footer_contact_workingHours {
  /* background-color: var(--light_green);  */
  padding: 2rem;
  border-radius: 0.75rem;
}
.footer_contact_phone,
.footer_contact_address {
  width: 57%;
}
.footer_contact_socials,
.footer_contact_workingHours {
  width: 40%;
}
.footer_contact_map {
  width: 100%;
  height: 25vh;
  border-radius: 0.75rem;
  border: none;
}
.footer_contact_socials > a {
  padding-right: 1rem;
 
}
.footer_contact_title {
  /* color: var(--light_grey);  */
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.625rem;
  padding-bottom: 1rem; 
}

.footer_contact_description {
  color:inherit;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.75rem;
  text-decoration: none;
}

/*  ** **  adaptive  ** ** */
/* для экранов менее 1170px */
@media screen and (max-width: 1170px) {
  .footer_contact_description {
    font-size: 2rem;
    line-height: 2.19rem;
  }
  .footer_container {
    gap: 1.56rem;
  }
  .footer_contact_phone,
  .footer_contact_socials,
  .footer_contact_address,
  .footer_contact_workingHours {
    padding: 1.875rem;
  }
}

/* для экранов менее 1000px */
@media screen and (max-width: 1000px) {
  .footer_wrapper {
    margin: 60px 20px ;
  }
  .footer_container {
    gap: 1.25rem;
  }
  .footer_contact_map {
    height: 18vh;
  }
}

/* для экранов менее 768px */
@media screen and (max-width: 768px) {
  .footer_container {
    gap: 1,25rem;
  }
  .footer_title {
    font-size: 3.5rem;
  }
  .footer_contact_phone,
  .footer_contact_socials,
  .footer_contact_address,
  .footer_contact_workingHours {
    padding: 1.5rem;
  }
  .footer_contact_title {
    padding-bottom: 1rem;
    line-height: 0.31rem;
  }
  .footer_contact_description {
    font-size: 1.4rem;
    line-height: 1.875rem;
  }
  .footer_contact_map {
    height: 15vh;
  }
}

@media screen and (max-width: 745px) {
  .footer_contact_description {
    font-size: 1.2rem;
  }
  .footer_contact_phone,
  .footer_contact_address {
    width: 55%;
  }
}

/* для экранов менее 600px */
@media screen and (max-width: 600px) {
  .footer_contact_title {
    font-size: 1rem;
  }
}

/* для экранов менее 480px */
@media screen and (max-width: 480px) {
  .footer_wrapper {
    margin: 56px 20px ;
  }
  .footer_contact_phone,
  .footer_contact_address,
  .footer_contact_socials,
  .footer_contact_workingHours {
    width: 100%;
  }
  .footer_contact_map {
    height: 20vh;
  }
  .footer_container {
    gap: 1rem;
  }
}

/* для экранов менее 360px */
@media screen and (max-width: 360px) {
  .footer_contact_map {
    height: 24vh;
  }
}

.iconSocial {
 
  width: 38px;
  height: 38px;
  fill: currentColor;
  margin-right: 12px;
  stroke-width: 0;
}
.iconsLink{
  display: block;
  color:inherit;
}
.iconsDiv{
  display: flex;
}
