.contentBlock {
    margin: 5rem 2.5rem;
    max-width: 1360px;
}

.contentBlock_header {
    display: flex;
    align-items: center;
    color: #424436;
}

.contentBlock_header>h2 {
    margin: 0 2rem 0 0;
    font-size: 4rem;
    font-weight: 700;
}

.contentBlock_header_line {
    flex-grow: 1;
    height: 1px;
    background: #DDDDDD;
}

*>h3 {
    font-size: 1.25rem;
    font-weight: 500;
}