

.section {
  background-image: url('../../../public/media/banner/hero1440.jpg'); /* изображение по умолчанию для десктопа */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  max-height: 600px;
  padding-left: 40px;
  margin-bottom: 80px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 80px;
  width: 100vw;
}

.title {
  color: var(--white);
  font-size: 5.625rem;
  font-weight: 700;
  line-height: 6.6rem;
  padding-top: 8vh;
  margin-bottom: 40px;
}



/*  ** **  adaptive  ** ** */

@media (max-width: 1000px) {
  .section {
    background-image: url('../../../public/media/banner/hero1000.jpg');
    max-height: 476px;
    margin-bottom: 60px;
  }
  .title {
    font-size: 4.4rem;
    line-height: 5.8rem;
  }
}

/* Для планшетов и устройств с шириной экрана до 768px */
@media (max-width: 768px) {
  .section {
    background-image: url('../../../public/media/banner/hero768.jpg');
    max-height: 634px;
  }
  .title {
    font-size: 3.75rem;
    line-height: 4.125rem;
    padding-top: 6vh;
  }
}

/* Для мобильных устройств с шириной экрана до 480px */
@media (max-width: 480px) {
  .section {
    background-image: url('../../../public/media/banner/hero480.jpg');
    max-height: 600px;
    margin-bottom: 56px;
  }
  .title {
    font-size: 3.4rem;
    padding-top: 4vh;
    margin-bottom: 24px;
    line-height: 3.6rem;
  }
  .btn {
    padding: 12px 52px;
    font-size: 1.125rem;
    line-height: 1.46rem;
  }
}

@media (max-width: 360px) {
  .section {
    background-image: url('../../../public/media/banner/hero360.jpg');
  }
  .title {
    font-size: 2.9rem;
    line-height: 3.3rem;
  }
}

