.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  background-image: url('../../../public/media/banner/hero1440.jpg'); /* изображение по умолчанию для десктопа */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  padding-left: 40px;
}

.title {
  color: var(--white);
  font-size: 5.625rem;
  font-weight: 700;
  line-height: 6.6rem;
  padding-top: 8vh;
}



/*  ** **  adaptive  ** ** */

@media (max-width: 1000px) {
  .section {
    background-image: url('../../../public/media/banner/hero1000.jpg');
  }
  .title {
    font-size: 4.7rem;
    line-height: 6.2rem;
  }
}

/* Для планшетов и устройств с шириной экрана до 768px */
@media (max-width: 768px) {
  .section {
    background-image: url('../../../public/media/banner/hero768.jpg');
  }
  .title {
    font-size: 3.75rem;
    line-height: 4.125rem;
    padding-top: 6vh;
  }
}

/* Для мобильных устройств с шириной экрана до 480px */
@media (max-width: 480px) {
  .section {
    background-image: url('../../../public/media/banner/hero480.jpg');
  }
  .title {
    font-size: 3.4rem;
    padding-top: 4vh;
  }
  .btn {
    padding: 12px 52px;
    font-size: 1.125rem;
    line-height: 1.46rem;
  }
}

@media (max-width: 360px) {
  .section {
    background-image: url('../../../public/media/banner/hero360.jpg');
  }
  .title {
    font-size: 3.25rem;
    line-height: 3.76rem;
  }
}

